<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Tech Blog</title>
    <link
      href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    {{! <link rel="stylesheet" href="/public/stylesheet/style.css" /> }}
  </head>

  <body class="flex-column min-80-vh bg-light">
    <nav class="navbar bg-light align-text justify-space-between">
      <ul>
        <li class="li-inline list-unstyled nav-item"><a href="/">Home</a></li>
        <li class="li-inline list-unstyled nav-item"><a
            href="/dashboard"
          >Dashboard</a></li>
        <li class="li-inline list-unstyled nav-item"><a
            href="/login"
          >Login</a></li>
        <li class="li-inline list-unstyled nav-item"><a
            href="#"
            id="logout-link"
          >Logout</a></li>
      </ul>
    </nav>
    <header class="hero text-center">
      <h1 class="app-title"><a href="/">Tech Blog</a></h1>
    </header>

    <main class="col-auto">
      {{{body}}}
    </main>
    <br />
    <footer class="flex-row justify-center">
      &copy; Zola Tech
    </footer>
  </body>

</html>
<script src="/javascript/logout.js"></script>